:root {
  --background: #2e2e2e;
  --foreground: #efefef;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background);
  color: var(--foreground);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-page-container {
  max-width: 700px;
}

#title {
  margin-bottom: 0rem;
  text-align: center;
}

#slogan {
  margin-top: 0rem;
  font-size: 1.25rem;
  text-align: center;
}

.post-container h2 {
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}

.datetime {
  margin: 0rem;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  margin-right: 1rem;
  max-width: 2rem;
}

.profile-container p {
  margin: 0rem;
}

button {
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
  color: var(--foreground);
  background-color: var(--background);
  border: none;
  padding: 0rem;
  margin-bottom: 1rem;
}

.comments-container {
  padding-left: 2rem;
}

.comment-container {
  margin-bottom: 1rem;
}

.comment-container h3 {
  margin: 0rem;
}

.body-container p {
  margin-top: 0.5rem;
}
